.svg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;

  &.github        { background-size: cover; background-image: url("/assets/icons/github.svg"); }
  &.linkedin      { background-size: cover; background-image: url("/assets/icons/linkedin.svg"); }
  &.rss           { background-size: cover; background-image: url("/assets/icons/rss.svg"); }
  &.stackoverflow { background-size: cover; background-image: url("/assets/icons/stackoverflow.svg"); }
  &.mastodon      { background-size: cover; background-image: url("/assets/icons/mastodon.svg"); }
  &.bluesky       { background-size: cover; background-image: url("/assets/icons/bluesky.svg"); }
}
